<header>
    <div class="branding">
        <a class="nav-link">
            <clr-icon shape="shield"></clr-icon>
            <span class="title">Angular CLI</span>
        </a>
    </div>
    <div class="header-nav">
        <a class="active nav-link nav-icon">
            <clr-icon shape="home"></clr-icon>
        </a>
        <a class=" nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>
<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
        </li>
    </ul>
</nav>